php_flag register_globals 0
php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0

<Files edit.php>
	AuthType basic
	AuthName "iamcal choose app"
	AuthUserFile /home/geeks/public_html/story/.htpasswd
	require valid-user
</Files>
