php_flag register_globals 0
php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0

<Files edit.php>
	AuthType basic
	AuthName "Edit the adventure!!!!"
	AuthUserFile /path/to/your/.htpasswd
	require valid-user
</Files>

<Files admin.php>
        AuthType basic
        AuthName "Administer the adventure!!!!"
        AuthUserFile /path/to/your/.htpasswd
        require valid-user
</Files>
